/.idea/

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

Audios/Geheimnisvolle_Wellenlaengen.wav
Audios/nicht_zu_laut_abspielen.wav
/Audios/

/.idea/
/.idea/inspectionProfiles/
/.idea/HC.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/other.xml
/.idea/vcs.xml
/.idea/workspace.xml
