/.idea/

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

A1/Geheimnisvolle_Wellenlaengen.wav
A1/nicht_zu_laut_abspielen.wav
